h2 Di Árbol 
  #uno  
    <canvas id="renderer"></canvas>
    #viewer_pane

#formularios.gastos
  input(type="button", id="start_button", value="Resumen", disable="disable")
  input(type="button", id="stop_button", value="Pause")
  input(type="button", id="show_button", value="Show Patch")

#creditos
  p Jugando con html5 y el tema de la voz y con las librerias Snake sacadas de aquí http://kennethjorgensen.com/
