h2 vvvv.js
  #uno  
    <canvas id="renderer"></canvas>
    #viewer_pane

#formularios.gastos
  input(type="button", id="start_button", value="Resumen", disable="disable")
  input(type="button", id="stop_button", value="Pause")
  input(type="button", id="show_button", value="Show Patch")

#creditos
  p Jugando con vvvv.js pacht de ejemplo http://www.vvvv.org
