!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/vvvviewer/vvvv.css')
    script(type: "text/javascript", src: "/javascripts/jquery.js")
    script(type: "text/javascript", src: "/javascripts/cliente.js")
    script(type: "text/javascript", src: "/javascripts/modernizr-1.0.js")
    script(type: "text/javascript", src: "/javascripts/vvvv.js")
      
    
  body!= body
